@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');


.projects-grid{
  display:flex;
}

.header-title{
  font-family: 'Exo 2', sans-serif;

}

.mdl-card__title-text{
  color:black;
  background-color: white;
  padding:3px;
  margin-bottom:0px;
}

a:not([href]){
  color:white;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color:white;
}

