.footer-style {
  background-color: black;
  font-size: 2em;
  font-family: "Pathway Gothic One", sans-serif;
  color: white;
  font-weight: 700;
  font-weight: bold;
}
.MuiBottomNavigation-root {
  background-color: "black";
}
