#about {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.about {
  background-color: black;
  font-size: 1.1em;
}

.img-thumbnail {
  background-color: black;
  border-color: black;
}

.background {
  background-color: black;
}

.img-resize {
  width: 10em;
}

.style {
  font-size: 20px;
}

.listItems {
  margin-top: 15px;
  /* font-family: "Pathway Gothic One", sans-serif; */
  color: white;
  font-weight: 100;
  font-size: 23px;
  padding: 2px;
  font-weight: bold;
}

.body-title-style {
  font-size: 25px;
  font-weight: 800;
}
